
header {
	text-align: center;
}

h1 {
		color: rgb(2, 132, 130);
		text-align: center;
	} 

	h2 {
		color: #ffd700;
		text-align: center;
	}

p {
	text-align: center;
	font-family: 'Helvetica', sans-serif;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

nav {
	background-color: #808080;
	color: white;
}

nav a {
	text-decoration: none;
	background-color: #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

nav a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

footer {
	background-color: #808080;
	text-align: center;
	font-family: 'Helvetica', sans-serif;
}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}

.card {
	background-color: yellow;
	height: 200px;
	width: 150px;
	border: 1px black solid;
	border-radius: 22px;
	float: left;
	margin: 8%;
}

.name {
	color: #ff0000;
}

img {
	height: 200px;
	width: 150px;
}